<h1>
  <%= @user.email %>
</h1>

<h1>Posts</h1>
<% @posts.each do |post| %>
  <div>
    <%= post.title %>
    <%= post.url %>
  </div>
<% end %>

<h1>Comments</h1>
  <table class="table table-condensed">
  <% @comments.each do |comment| %>
    <%= render :partial => "posts/comment", :locals => {:comment => comment}%>
  <% end %>
</table>